/.bundle
/.env
/.env.*
!/.env.example
/.ruby-lsp
/coverage
/log/*
/public/assets
/storage/*
/tmp/*
/vendor/bundle

!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids/.keep

/config/master.key
/config/credentials/*.key
